:root {
  --color-background: #1a2639;
  --color-text: #5d697a;
  --color-text-light: #d9dad7;
  --color-accent: #c24d2c;
}

body {
  background-color: var(--color-background);
}

h1,
h2,
h3 {
  font-family: "Crimson Pro", serif;
  color: var(--color-text-light);
}

h1 {
  font-size: 90px;
}

h4,
p,
ul {
  font-family: "VT323", monospace;
  color: var(--color-text);
  font-size: 20px;
}

footer {
  font-family: "VT323", monospace;
  color: var(--color-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a .nav-link {
  color: var(--color-text-light);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: var(--color-text-light);
}

a:hover,
.nav-link:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.badge {
  color: var(--color-accent);
  font-family: "VT323", monospace;
}

.container {
  margin: 90px;
}

.section {
  padding: 40px 0;
}

.nav-link.active {
  font-weight: 600;
  border-left: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.card {
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.card:hover {
  background: #18212d;
}

.highlight {
  color: var(--color-text-light);
}

.technologies {
  background: rgb(194, 77, 4, 0.1);
  border-radius: 18px;
  color: var(--color-accent);
  padding-inline: 10px;
  margin-right: 8px;
}
